@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply scroll-smooth antialiased;
  }
  
  body {
    /* Ganti kode warna di sini */
    background-color: #F4F2F0; 
    color: #111111;
    font-family: 'Inter', sans-serif;
  }

  h1, h2, h3, .font-serif {
    font-family: 'Instrument Serif', serif;
  }
}

@layer components {
  .btn-primary {
    @apply bg-[#111] text-white px-6 py-3 rounded-lg text-xs font-medium uppercase tracking-widest hover:bg-gray-800 transition-all disabled:opacity-50 disabled:cursor-not-allowed;
  }
  
  .card-base {
    @apply bg-white p-4 rounded-xl shadow-sm hover:shadow-md transition-all border border-transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full;
  }
}